<div class="card mb-3" class="border-left-{{ estatusColor }}">
    <div class="card-body">

        <div class="col-md-12">
            <div>
                <h4>
                    <a class="font-black" (click)="verCheckList(obra.Id)" style="color: #5b88af; cursor: pointer;">{{ obra.nombreObra }}</a>
                </h4>

                <div class="row mt-3 mb-3">
                    <div class="col-md-6">
                        <div class="text-center">
                            <a class="font-bold-condensed">N° Procedimiento</a>
                        </div>
                        <div class="text-center">
                            <a class="badge bg-blue align-top font-regular" style="font-size: 13px;">{{ obra.numeroProcedimiento }}</a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="text-center">
                            <a class="font-bold-condensed">N° Contrato</a>
                        </div>
                        <div class="text-center">
                            <a class="badge bg-blue align-top font-regular" style="font-size: 13px;">{{ obra.numeroContrato }}</a>
                        </div>
                    </div>
                </div>

                <div *ngIf="tepeaca" class="row mb-3">
                    <div class="col-md-12">
                        <div class="text-center">
                            <a class="font-bold-condensed">N° de Obra</a>
                        </div>
                        <div class="text-center">
                            <a class="badge bg-blue align-top font-regular" style="font-size: 13px;">{{ obra.numeroObra | notext }}</a>
                        </div>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-md-12">
                        <div class="text-center">
                            <a class="font-bold-condensed">Tipo Adjudicación</a>
                        </div>
                        <div class="text-center">
                            <a class="badge bg-blue align-top font-regular" style="font-size: 13px;">{{ obra.tipoAdjudicacion }}</a>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="text-center">
                            <a class="font-bold-condensed">Proveedor</a>
                        </div>
                        <div class="text-center">
                            <a class="badge bg-blue align-top font-regular" style="font-size: 13px;">{{ obra.proveedor | notext }}</a>
                        </div>
                    </div>
                </div>

                <div class="progress font-bold-condensed mb-2 mt-4" style="height: 0.3rem;">
                    <div class="progress-bar" [className]="obra.porcentajeAvance >= 90 ? 'bg-success' : 'bg-danger'"  style="width: {{ obra.porcentajeAvance }}%">
                        <span class="sr-only">{{ obra.porcentajeAvance }}% Complete</span>
                    </div>
                </div>
                <div class="font-bold-condensed">
                    <span class="float-right">{{ obra.porcentajeAvance }}%</span>
                    Avance
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer d-sm-flex justify-content-sm-between align-items-sm-center">

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <span class="font-bold-condensed">Monto Asignado: <span class="font-regular">${{ obra.montoAsignado | notext }} MXN</span></span>
                </div>
            </div>
    
            <div class="row">
                <div class="col-md-12">
                    <span class="font-bold-condensed">Monto Contratado: <span class="font-regular">${{ obra.montoContrato | notext }} MXN</span></span>
                </div>
            </div>
    
            <div class="row">
                <div class="col-md-12">
                    <span class="font-bold-condensed">Monto Ejercido: <span class="font-regular">${{ obra.montoEjercido | notext }} MXN</span></span>
                </div>
            </div>
        </div>

        <ul class="list-inline mb-0 mt-2 mt-sm-0">
            <li class="list-inline-item dropdown">
                <a href="#" class="text-default dropdown-toggle"
                    data-toggle="dropdown"><i class="icon-menu7"></i></a>

                <div class="dropdown-menu dropdown-menu-right">
                    <a (click)="verCheckList(obra.Id)" routerLinkActive="router-link-active"  class="dropdown-item">
                        <i class="icon-alarm-add"></i> 
                        Ver Check list
                    </a>
                    <a class="dropdown-item" href="https://apipbrdevelolop.azurewebsites.net/api/expedients/obrapublica/cedula/adownload?id={{ obra.Id }}" target="_self" download="document.xlsx">
                        <i class="icon-attachment"></i>
                        Descargar Check List
                    </a>
                </div>
            </li>
        </ul>
    </div>
</div>