<div class="">

	<app-nav-filters-adq
		[adjudicaciones]="adjudicaciones"
		[busqueda]="busqueda"
		[estatus]="estatus"
		[estatusExpediente]="estatusExpediente"
		[changeStatus]="changeStatus"
		[changeEstatusExpediente]="changeEstatusExpediente"
		[changeOrder]="changeOrder"
		[buscar]="buscar"
		[ejercicio]="ejercicio">
	</app-nav-filters-adq>

	<div class="row">
		<div class="col-md-12 col-xl-6" *ngFor="let adjudicacion of adjudicaciones | filtersListaAdjudicaciones: estatus:estatusExpediente:busqueda">
			<app-card-adjudicacion [adjudicacion]="adjudicacion"></app-card-adjudicacion>
		</div>
	</div>
</div>
