<div class="container">
	<div class="row justify-content-center">
		<div class="col-md-4">
			<div *ngIf="error" class="alert alert-danger" role="alert">
				{{ message }}
			</div>
			<form (ngSubmit)="onSubmit()" [class]="(error) ? 'needs-validation was-validated' : '' " novalidate>
				<div class="card material-card">

					<img class="card-img-top p-4" src="assets/global/images/SimopaDark.png" alt="Simopa">

					<div class="card-body">

						<div class="form-group">
							<input [(ngModel)]="login.user" type="text" name="user" class="form-control font-regular" placeholder="Usuario" required>
							<div class="invalid-feedback">
								Es necesario su Nombre de Usuario
							</div>
						</div>

						<div class="form-group">
							<input [(ngModel)]="login.pass" type="password" name="pass" class="form-control font-regular" placeholder="Contraseña" required>
							<div class="invalid-feedback">
								Es necesario su Contraseña
							</div>
						</div>

						<div class="form-group">
							<button type="submit" class="btn btn-primary w-100 font-bold-condensed" [disabled]="btnLoading.loading" [innerHtml]="btnLoading.text">
							</button>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
